<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/styles.css" />
    <title>Document</title>
</head>
<body>
    <nav id="nav-bar">
        <div>
          <ul>
              <li>
                <a href="/home">Home</a>
              </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/works">Works</a>
            </li>
            <li>
              <a href="/gallery">Gallery</a>
            </li>
          </ul>
        </div>
      </nav>

  <p id="about-text">Zoë E. Bell (born November 17, 1978) is a New Zealand stuntwoman and actress. Some of her most notable stunt-work includes doubling for Lucy Lawless in Xena: Warrior Princess and for Uma Thurman in Kill Bill.<br><br>

  As an actress, Bell has appeared on television and in feature-films; she has starred in the web series Angel of Death. She is probably most recognized for playing herself in the Quentin Tarantino film Death Proof. In 2015, she appeared in an acting role in Tarantino's film The Hateful Eight, and during 2019 appeared in an acting role in Tarantino's Once Upon a Time in Hollywood in addition to her role as stunt coordinator and stuntwoman.<br><br>

  source: wikipedia.org
</p>
<img id="about-img" src="/../images/ring.jpeg" alt="zoe bell in the ring"/>
</body>
</html>