<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/styles.css" />
    <title>Document</title>
</head>
<body>
    <nav id="nav-bar">
        <div>
          <ul>
              <li>
                <a href="/home">Home</a>
              </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/works">Works</a>
            </li>
            <li>
              <a href="/gallery">Gallery</a>
            </li>
          </ul>
        </div>
      </nav>
      <div id="gallery-container">
        <img src="/../images/with brad.jpg" alt="Zoe Bell with Brad Pitt" class="gallery-img"/>
        <img src="/../images/dance.jpeg" alt="Zoe Bell dancing" class="gallery-img"/>
        <img src="/../images/withQuentin.jpeg" alt="Zoe Bell with Quentin Tarantino" class="gallery-img"/>
        <img src="/../images/withuma.avif" alt="Zoe Bell with Uma Thurmann" class="gallery-img"/>
      </div>
</body>
</html>