<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/styles.css" />
    <title>Document</title>
</head>
<body>
    <nav id="nav-bar">
        <div>
          <ul>
              <li>
                <a href="/home">Home</a>
              </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/works">Works</a>
            </li>
            <li>
              <a href="/gallery">Gallery</a>
            </li>
          </ul>
        </div>
      </nav>
      <div id="movie-poster-container">
        <img src="../images/killbillposter.jpg" alt="kill bill poster" class="movie-poster"/>
        <img src="../images/deathproofposter.jpg" alt="deathproof poster" class="movie-poster"/>
        <img src="../images/Bitchslapposter.jpeg" alt="bitchslap poster" class="movie-poster"/>
        <img src="../images/djangoposter.jpg" alt="django poster" class="movie-poster"/>
        <img src="../images/hatefuleightposter.jpeg" alt="hateful 8 poster" class="movie-poster"/>
        <img src="../images/ingloriousbasterdsposter.jpg" alt="inglorious basterds poster" class="movie-poster"/>
        <img src="../images/ironmanposter.jpg" alt="ironman 3 poster" class="movie-poster"/>
        <img src="../images/thorposter.webp" alt="thor poster" class="movie-poster"/>
      </div>
</body>
</html>