/* color palette: 
#a19aab grey
#6023AF purple
#4900e8 blue
 */

body {
    color: #a19aab;
    background: rgb(2,0,36);
    background-image: url('/../images/background.jpeg');
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(96,35,175,1) 46%, rgba(73,0,232,1) 100%);
  }
  
h1 {
    text-align: center;
    font-size: 40px;
}

  /* top nav bar */

nav {
    width: 100%;
    background-color:grey;
    border:#4900e8;
    box-shadow: inset 10px 9px 25px 0px rgba(73,0,232,1);
    border-radius: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 2em;
    padding-right: 20px;
}

#start-img {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 50px;
    border:#4900e8 2px solid;
    box-shadow: 10px 9px 25px 0px rgb(59, 56, 65);
}